<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

		<directoryBrowse enabled="true" />

		<rewrite>
			<rules>

				<rule name="RequestBlockingRule" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAll">

						<!-- private -->
						<add input="{REMOTE_ADDR}" pattern="10.*.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="169.254.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.16.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.17.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.18.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.19.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.20.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.21.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.22.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.23.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.24.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.25.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.26.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.27.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.28.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.29.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.30.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="172.31.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="192.168.*.*" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
						<!-- end private -->

						<add input="{REMOTE_ADDR}" pattern="72.172.88.0" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="72.172.89.0" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="108.184.176.40" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="12.52.79.36" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="12.52.79.34" negate="true" />

					</conditions>
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
				</rule>

			</rules>

		</rewrite>


	</system.webServer>
</configuration>

